<app-item-component [urlImage]= "" [firstName]="'sahbi'" [name]="'jridi'"  (sendDataItemToList)="processSonData($event)"></app-item-component>
<app-item-component [urlImage]="'assets/images/rotating_card_profile3.png'" [firstName]="'ahmed'" [name]="'jridi'"  (sendDataItemToList)="processSonData($event)" ></app-item-component>

<app-item-component [urlImage]= "    " [firstName]="'salah'" [name]="'jridi'"  (sendDataItemToList)="processSonData($event)"></app-item-component>
<app-item-component [urlImage]="'assets/images/rotating_card_profile2.png'" [firstName]="'nabil'" [name]="'jridi'"  (sendDataItemToList)="processSonData($event)" ></app-item-component>
